.LeftHeader1 {
    width: 350px;
    color: black;
}
.menuu{
    padding-left: 5%;
}
.text-colorr{
    color: black;
}
#RightHeader1 {
    color: black;
    padding: 1px;
}

.RightContent {
    float: right;
    width: calc(100% - 450px);
}

.LeftContent {
    float: left;
    width: 350px;
    padding-left: 80px;
}
.linee{
    border-bottom: 1px solid gray;
    margin-bottom: 5%;
}
#TrangChu {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 10% 0px 0px;
}

#ThucDon {
    padding: 0;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 10% 0px 0px;
}

#Tintuc-sukien {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 10% 0px 0px;
}

#GioiThieu {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 10% 0px 0px;
}

#Lienhe {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 10% 0px 0px;
}
.container{
    margin: 5% 5% 5% 10%;
}
#News {
    margin: 0 5% 5% 5%;
}
.set-line{
    border-bottom: 1px solid gray;
}
.NewsImg {
    width: 100%;
    /* margin: 10px; */
}
.bot-mar{
    margin-bottom: 5px;
}
.bot-mar2{
    margin-bottom: 5%;
}
/*.NewsStr{
    width: calc(100% - 100px - 20px) ;
}
*/
.clearfix {
    clear: both;
}

.NewsImagine {
    float: left;
    margin: 0 5% 5% 5%;
}

.NewsInfor {
    float: right;
    width: calc(100% - 250px - 40px);
}